[2015-01-23 13:11] maximilianhurl opened #23 "Include main attribute in package.json"
See this for an example https://github.com/danielstocks/react-sortable/blob/master/package.json#L5

[2015-01-24 19:01] JakeSidSmith commented on #23
Added: https://github.com/JakeSidSmith/react-reorderable/commit/6e05a89c437a3ea2e011923542197313efb48471

[2015-01-24 19:01] #23 closed

[2015-02-07 23:03] isaiahdw opened #45 "Publish to npm"
Can you publish this to npm? It is hard to include otherwise. :)

[2015-04-01 13:21] ivdma opened #46 "IE8 support"
Tested IE8 with Windows XP and Windows Vista. Both gave the same error:

![screen shot 2015-04-01 at 15 16 57](https://cloud.githubusercontent.com/assets/35517/6941730/8e452dd6-d882-11e4-8c58-348eb5492650.png)

Looks like React issue, but you asked to confirm whether it works on IE8, so I fire this issue here =)

[2015-04-02 07:17] JakeSidSmith commented on #46
Thanks. I'll look into it. :)

[2015-04-02 07:18] JakeSidSmith commented on #45
Sure, no problem. :)

[2015-04-09 12:51] JakeSidSmith commented on #45
Well... this could be a problem: https://www.npmjs.com/package/react-reorderable

[2015-08-11 13:28] tarex opened #47 "handle attribute"
where I can add handle attribute [ any specific tag ] to drag ?

[2015-08-13 00:52] tarex commented on #47
anyone , i managed to add this .

[2015-08-13 00:52] #47 closed

[2015-10-12 17:10] aesnyder commented on #45
@JakeSidSmith any news on this?

[2015-10-12 19:42] aesnyder opened #48 "Button inside reorderable element"
Javascript click events are being swallowed by the reorderable item making it so that buttons inside the items don't work.

[2015-10-13 08:18] JakeSidSmith commented on #45
Guess I've gotta choose a different name. Got any suggestions?

react-reorderable-list
react-reorderable-touch

Can't really think of any short ones though.

[2015-10-13 08:21] JakeSidSmith commented on #48
This is due to `event.preventDefault()` being called on the events, but I've learnt better since. So I'll fix this when I've got some time. :)

[2015-10-14 15:05] aesnyder commented on #48
Interesting, I thought the `event.preventDefault()` was causing this as well. I tried commenting it out of the `itemDown` method. Unforutunately that didn't work. I'll open a pr in a moment with my workaround. Basically I add a 'no-drag' class to the button and return false in item down if the target has that class... Feels dirty so I'm all ears if you have a better solution.

[2015-11-03 22:32] adsteel commented on #45
@JakeSidSmith One possibility is to focus on nouns, rather than adjectives. For example, it's a bit weird to see a component with an adjective name.

[code]

[2015-11-04 16:57] adsteel opened #50 "Make demo code available"
Thanks for your work on this, it looks great. Could you make the demo code available?

[2015-11-05 09:21] JakeSidSmith commented on #50
Yeah, this project does need a refactor (which would include adding example code). Until then you could check out the [gh-pages](https://github.com/JakeSidSmith/react-reorderable/tree/gh-pages) branch, but it's not written with JSX, so it may look a little confusing.

[2015-11-05 15:53] adsteel commented on #48
I think `event.preventDefault()` needs to be commented out of both `itemDown` and `listDown` for this particular issue to go away.

[2015-11-05 17:35] adsteel commented on #50
This is great, thank you!

[2015-11-17 20:24] adsteel opened #51 "Freezes window scroll on touch"
I am unable to window scroll when dragging on the list on a touch screen. The window scroll event is swallowed and all I can do is reorder. If I move the list to a div that scrolls, it works fine.

[2015-11-17 20:32] JakeSidSmith commented on #51
You shouldn't be able to scroll while dragging an item. Scrolling is implemented so that when you drag an item near the bottom / top of the list it'll scroll automatically.

Imagine you're trying to drag an item from the center of the list to the top. If scrolling was also allowed then you would end up scrolling down the page, and you'd never be able to place the item at the top.

Make sure the li

[2015-11-17 20:33] adsteel commented on #45
react-reorganize
react-resort

?

[2015-11-17 20:35] adsteel commented on #51
@JakeSidSmith Thanks for the quick response! It does work fine in a list container. But I don't want to constrain it to a list container. I want to have normal window, with a list that disappears off the page. I want to both be able to scroll the page to see the rest of this list (by touch/dragging the list), and to reorder the items. Does that make sense?

[2015-11-17 20:38] JakeSidSmith commented on #51
Ahh, I think I see what you mean. Even while not dragging an item you cannot scroll past the reorderable list?

[2015-11-17 20:40] adsteel commented on #51
On a touch screen, I cannot scroll the page when I touch-drag on the list. The page scroll event seems to be swallowed. I can still scroll the page when I touch-drag elements outside of the list, and I can reorder the items I can see in the list.

[2015-11-17 20:42] JakeSidSmith commented on #51
Kk. Well, this'll definitely need a fair bit of work. This component was designed to work like a native Android / iOS listview, and they don't tend to have other scrollable content around them.

I'll have a quick look now. :)

[2015-11-17 20:43] JakeSidSmith commented on #45
Seems that `react-reorder` is available. Sound good?

[2015-11-17 22:25] adsteel commented on #48
I take that back. It looks like removing `event.preventDefault()` from `itemDown` and `listDown` makes this issue go away, without raising any other issues that I can see (in a simple, vertical list of items).

[2015-11-18 01:45] JakeSidSmith commented on #51
I've stayed up way too late working on this, but I'm very close to a breakthrough. Will hopefully have the solution tomorrow. Gonna sleep on it. :)

[2015-11-19 13:32] JakeSidSmith opened #56 "Store state in component (not state)"
Lots of the state is stored in state, when it need not be. Basically the only thing that really needs to be stored is the currently dragged item & it's position.

[2015-11-19 13:34] JakeSidSmith opened #57 "Individual hold times"
Add configuration for desktop & mobile hold times individually.

`holdTimeTouch` and `holdTimeMouse`

`holdTime` sets both.

[2015-11-19 13:36] JakeSidSmith opened #58 "Change disableReorder"
Change `disableReorder` to `disabled`.

Add warning message of deprecation.

Could this mess up stuff if people are already using disabled?

[2015-11-19 14:09] niftykins opened #59 "Drag between multiple lists"
Do you have any insights (or pointers to things to change within the library) into how I'd be able to achieve dragging an item from one reorderable list into another reorderable list?

[2015-11-19 22:12] JakeSidSmith commented on #59
It would be a lot of work to make the library in it's current state support this, but I intend to add this feature in the future. :)

[2015-11-19 22:14] JakeSidSmith commented on #46
So, it turns out react needs some polyfills in order to work with IE8. I'll add these to the examples. :)

[2015-12-30 16:15] adsteel commented on #48
It looks like this issue has been fixed in version 1.3, @JakeSidSmith

[2016-02-18 17:14] SystemParadox opened #61 "React should not be a dependency"
This is working great with react 0.14.6 (apart from some warnings!), but only if I manually delete `node_modules/react-reorder/node_modules/react`. Otherwise, it throws horrible errors about "something is calling a react component directly", because react-reorder has it's own react 0.12 dependency (at least on the npm version. On github this is `react < 0.14`, which would still have the same probl

[2016-03-17 17:30] JakeSidSmith commented on #61
Sorry for the delay - busy times.

PR open here: https://github.com/JakeSidSmith/react-reorder/pull/62

Could you have a look over for me, @SystemParadox ?

Thanks.

[2016-03-18 11:07] #61 closed

[2016-04-09 07:38] MarshallOfSound opened #63 "Input elements lose their value while being dragged"
If the template element has an input element when it is dragged the value is lost and brought back again when the drag is released.  As far as I can tell this is due to how the reorder component renders a new "template" element for each drag.

[2016-04-09 14:32] JakeSidSmith commented on #63
Are you storing the element's value in state / your store?

[2016-04-09 14:36] MarshallOfSound commented on #63
@JakeSidSmith Not currently it was not required for the component I was writing.  I would only fetch the value on submit through a `this.refs` on the parent element.

Is there anyway that non state related values can be restored to the temporary "dragging" element.  Like offer up "dragstart" and "dragend" methods so that we could possible handle these things ourselves without having to store all i

[2016-04-09 14:42] JakeSidSmith commented on #63
Ideally you should be storing your values in some kind of store, but I'm not certain that would fix the issue.

I'm a little surprised this is a problem, I don't see why the value would be lost, but I'll take a look and see if I can fix it. :)

[2016-04-09 14:45] MarshallOfSound commented on #63
I managed to get it working using a super hacky properties trick.  I setup a bunch of function to store the value in the parent state and pass the value in as an attribute on the "item" object.  But it is super hacky and it would be better if I didn't have to do it :+1:

[2016-04-09 15:54] JakeSidSmith commented on #63
Hey, @MarshallOfSound have had a play around and came up with this: #64

Could you give it a test on your project? Should solve the issue. :)

Also fixes a few other potential issues.

[2016-04-10 01:22] MarshallOfSound commented on #63
@JakeSidSmith It appears to now keep the input value while being dragged :+1:

But now when dragging it doesn't appear to actually reorder the elements.  It visually reorders while dragging, but when you release everything reverts.

[2016-04-10 02:12] JakeSidSmith commented on #63
Ah crap. Was working OK for me. Are you using the indices to reorder components yourself, or the reordered list that is provided in the callback?

[2016-04-10 02:48] MarshallOfSound commented on #63
Neither?  Before when I dragged and dropped this utility reordered the components for me.  Now it does not?

[2016-04-10 02:51] JakeSidSmith commented on #63
Ah yeah, it mutated the list you passed in, which I realised was a bad idea. Now you've gotta use some of the arguments in the callback. :) The last one is the new list. See the readme.

[2016-04-10 02:55] MarshallOfSound commented on #63
Hmmm, interesting.  So all I have to do is hold the list in my state and setState in the callback.  I actually like that more :+1:

Gimme a sec to test :smile:

[2016-04-10 02:57] MarshallOfSound commented on #63
Yep, that branch fixes the input value issue :+1:

Thanks for the quick response :smile_cat:

[2016-04-10 02:58] MarshallOfSound commented on #63
Worth pointing out though that this fix would be a breaking change for people not handling the callback like me and just letting the mutation happen :cry:

[2016-04-10 13:15] JakeSidSmith commented on #63
Yeah, I guess I'll make some other improvements and release a new major version. There's a few thing to clean up anyway. :)

[2016-04-12 04:34] MarshallOfSound opened #65 "Dodgy input focus when dragging on mobile devices"
When you have an input field inside the draggable component it is really hard to focus on it on a mobile device.  I'm assuming this is because it is absorbing the touch/click events

[2016-04-12 08:24] JakeSidSmith commented on #65
I have a few fixes to make related to #63 and so I'll try to get a fix for this issue in with the next release. :)

[2016-04-12 08:46] MarshallOfSound commented on #65
I found a workaround which involves calling `stopPropagation` on any touch event on input fields inside the draggable components if that helps? :+1:

[2016-04-26 22:20] JakeSidSmith opened #66 "Rethink"
Refactor:

* No mutation (as in #63)
* Remove `setState` where component updates are not required
* Support [immutablejs](https://facebook.github.io/immutable-js/)
* No new list in callback? Provide only previous and next indices?
* Allow defining `listComponent` and `itemComponent` (default to `ul` and `li`)
* Allow defining `listProps` and `itemProps` which will be applied to these components
*

[2016-05-16 18:27] rmoylan opened #67 "var root = this || window; causes compile error"
This is causing a window is not defined error on line 459. I am using it in a universal web app. I removed the reference to window, and all seems to be fine. Has anyone else ran into this issue?

[2016-05-16 18:37] JakeSidSmith commented on #67
What are you compiling with?

[2016-05-16 18:44] rmoylan commented on #67
importing using es6 with babel, and webpack for module bundling/compiling.

[2016-05-16 19:36] JakeSidSmith commented on #67
OK, thanks for bringing this to my attention. Not had much experience with webpack myself, but I'll take a look.

Could you post your npm build script and or webpack configuration?

[2016-05-16 20:14] rmoylan commented on #67
That would probably be a lot. But, I am using the rern starter at https://github.com/pthm/rern-starter . It is a port of the mern starter kit. You could pull that down and run tests off that. I forked the library, and i'll see if I can figure anything out too.

[2016-05-16 20:28] JakeSidSmith commented on #67
Kk, I'll setup a project using that when I've got some free time. Seems like an odd error to be getting. No idea off the top of my head, what'd cause that problem.

[2016-07-06 15:04] ephraimtabackman commented on #48
It's not fixed for me, but here's how I worked around it:

[code]

[2016-08-05 18:20] oyeanuj commented on #59
@JakeSidSmith I was wondering if there was any update on this on your side? The library looks great, and I'd love to make use of it but also need this use-case.

Alternatively, are there any plans to make a HoC or not have the `ReOrder` component render the list items? If there was more flexibility on that front, then instead of having a multiple lists, one could have a parent of multiple list act

[2016-08-09 19:12] HriBB commented on #67
@JakeSidSmith please review #68 and let me know if it's OK ;)

[2016-08-09 19:19] HriBB opened #69 "Very slow in development with redux DevTools and HMR"
First of all, thanks for this nice lib ;) Haven't tested it much yet, but so far I really like `react-reorder`. However, drag-drop is horrrribly slow in development. I use `redux` with DevTools with React Hot Loader and it's practically unusable. Could be related to #56, because I believe that calling `this.setState()` triggers a re-render of component. It works OK in production.

@JakeSidSmith le

[2016-08-09 19:26] JakeSidSmith commented on #69
Calling setState every mouse move shouldn't really have any issues. Although the library is overdue a little re-write. Should have some time this Friday / weekend to take a look, but I can't promise anything.

I'll at least let you know if and when it's sorted. :)

[2016-08-09 19:31] JakeSidSmith commented on #67
Have left you a comment. But would like to keep discussion here.

Are you using the same tools to build as rmoylan ?

[2016-08-09 19:41] JakeSidSmith commented on #59
I plan to re-write a lot of this in the future. Will hopefully have some time within the next week.

I'll keep you posted. :)

[2016-08-09 23:27] HriBB commented on #69
It's not a problem, as long as it works fast in production mode ;) I will do some debugging/profiling to see what's going on in the background, but I suspect that there's not much we can do regarding development speed. `redux-form` for example is slow as hell in development as well, but work fast in production.

I can help you with the rewrite, although the code does not look simple and will proba

[2016-08-10 09:27] JakeSidSmith commented on #69
Agreed. :)

[2016-08-11 18:31] oyeanuj commented on #59
Awesome, that sounds great! I am very curious to learn more about the re-write when you have a moment.

You've probably already seen this but I thought react-sortable-hoc did a good job with the structural part of it, FWIW: https://github.com/clauderic/react-sortable-hoc

[2016-08-12 10:11] JakeSidSmith commented on #59
I was thinking of something similar, but without the need for a HOC... or at least not one defined in quite that way. Something like:

[code]

Will also be making sure it supports ImmutableJS.
And that you can define a component to use for the wrapper (same prop as ReactCSSTransitionGroup).

Still not entirely sure how I'll handle dragging between multiple lists though.

[2016-08-12 13:15] oyeanuj commented on #59
Thanks for the details, that looks solid!

As for the connected/multiple lists, a possible way would be to have each list have a key which needs to be passed `onDrop` and if it matches the key of the target list, can it be dropped. So, for shared lists, they would essentially just be two lists with the same key. Before firing, `onReorder`, the key would need to be checked.

I have seen https://git

[2016-08-22 11:19] JakeSidSmith commented on #67
Fixed in #68 and released as `2.1.0`

[2016-08-22 11:19] #67 closed

[2016-08-22 11:21] JakeSidSmith commented on #65
Hey, @MarshallOfSound clearing up some old issues. Would you say this is a suitable solution, and therefore this issue is fixed? :)

[2016-08-22 11:24] JakeSidSmith commented on #63
@MarshallOfSound Was #66 a sufficient fix for you? Would like to get it merged & close this issue if possible. :)

[2016-08-22 12:50] MarshallOfSound commented on #65
Yeah 👍

[2016-08-22 12:50] #65 closed

[2016-08-22 16:30] oyeanuj commented on #66
Subscribed! Would love to try it out whenever it is ready to play with, even if in a branch!

[2016-09-10 23:26] oyeanuj commented on #66
Hey @JakeSidSmith, Just wanted to get a sense of the progress and timing on this. This and #59 would be amazing additions to this library. I don't mean to be pushy but just wanted to get a rough idea so I can plan some of my work accordingly.

Thank you :)

[2016-09-11 11:53] JakeSidSmith commented on #66
@oyeanuj Hey, I'm sorry it's been so long. I have had a lot of stuff going on recently, and other libraries to maintain.

You should be happy to hear that I have now started work on the rethink here: #71, and will be focussing on this until it's finished, unless anything else should come up. :)

[2016-10-26 04:52] oyeanuj commented on #66
Awesome, thanks for the update! Looking forward to the new version and will follow #71 as well!

[2016-10-26 09:43] JakeSidSmith commented on #66
@oyeanuj gonna close this issue, as it's a bit outdated. Follow #71 for updates. :)

[2016-10-26 09:44] #66 closed

[2016-10-28 15:32] seansean11 opened #72 "Use iterator for `itemKey`"
I'm working on a list of todos that are stored in localStorage as an array of objects.  Instead of having to try to create a unique `id` property on each of the todo objects, I'd like to leverage the iterator of my Reorder list.  Is this possible? #

[2016-11-01 17:18] tmm1 opened #73 "Cannot sort via touch due to page scroll"
The demos work well on mobile devices, but if you remove the fixed height on the container it becomes impossible to reorder. As you drag an item, the entire page scrolls in the opposite direction and the element stays in the same position.

One way to fix this is to set `window.ontouchmove = (e) => e.preventDefault()` while an item is being dragged.

[2016-11-03 22:48] HriBB opened #75 "Warning: This synthetic event is reused for performance reasons."
Hey

I'm seeing this warning on "mobile", via chrome developer tools.

[code]

See https://fb.me/react-event-pooling for more information.

In `handleTouchEvents` you're adding `clientX` and `clientY` to the event object, which I guess is bad in React.

[code]

Maybe you can include that in the rewrite? Otherwise I can take a look and make a PR.

[2016-11-03 22:49] HriBB commented on #75
Ohh and I just realized that I cannot tap on `IconButton` in the list.

[2016-11-12 14:25] JakeSidSmith commented on #75
Hey, @HriBB going through a big re-write at the moment in which this is already fixed. :)

#71

[2016-11-12 14:29] JakeSidSmith commented on #72
I had fixed this in another experimental branch whereby you could pass a function as the itemKey (which you could then use to return a suitable key), but this has since become unnecessary due to a re-write I'm working on: #71

[2016-11-12 16:40] HriBB commented on #75
@JakeSidSmith I thought so, just wanted to make sure this is fixed. Closing.

[2016-11-12 16:40] #75 closed

[2016-12-12 15:52] garth opened #76 "placeholder class is not added when dragging input fields"
Drag a non-input field and a .placeholder is added to the target. Drag an input field and .placeholder is not added.

![drag-input](https://cloud.githubusercontent.com/assets/4643/21106542/c7679298-c08e-11e6-96c6-5da313168046.gif)

[2016-12-12 18:06] JakeSidSmith commented on #76
That's an odd one. Potentially due to an `event.preventDefault` on one of the inputs handlers? Not to worry, new major version in the making (#71) that should solve all existing issues. I'll make sure this is included.

[2017-03-12 16:54] JakeSidSmith commented on #76
Update: just released `3.0.0-alpha.0` on npm. I'd suggest checking out this version, it should be far more stable than the existing release, fixes a lot of bugs, and adds the ability to drag between lists. :)

See the readme after installation, there's been a considerable change to the interface.

[2017-03-12 16:54] JakeSidSmith commented on #73
Update: just released `3.0.0-alpha.0` on npm. I'd suggest checking out this version, it should be far more stable than the existing release, fixes a lot of bugs, and adds the ability to drag between lists. :)

See the readme after installation, there's been a considerable change to the interface.

[2017-03-12 16:54] JakeSidSmith commented on #72
Update: just released `3.0.0-alpha.0` on npm. I'd suggest checking out this version, it should be far more stable than the existing release, fixes a lot of bugs, and adds the ability to drag between lists. :)

See the readme after installation, there's been a considerable change to the interface.

[2017-03-12 16:55] JakeSidSmith commented on #69
Update: just released `3.0.0-alpha.0` on npm. I'd suggest checking out this version, it should be far more stable than the existing release, fixes a lot of bugs, and adds the ability to drag between lists. :)

See the readme after installation, there's been a considerable change to the interface.

Could you see if the slowness has improved at all in the alpha? :)

[2017-03-12 16:55] JakeSidSmith commented on #63
Update: just released `3.0.0-alpha.0` on npm. I'd suggest checking out this version, it should be far more stable than the existing release, fixes a lot of bugs, and adds the ability to drag between lists. :)

See the readme after installation, there's been a considerable change to the interface.

This issue is fixed for single lists in the version 3 alpha.

[2017-03-12 16:55] JakeSidSmith commented on #59
Update: just released `3.0.0-alpha.0` on npm. I'd suggest checking out this version, it should be far more stable than the existing release, fixes a lot of bugs, and adds the ability to drag between lists. :)

See the readme after installation, there's been a considerable change to the interface.

[2017-03-12 16:56] #58 closed

[2017-03-12 16:57] #57 closed

[2017-03-12 16:57] #56 closed

[2017-03-12 16:58] JakeSidSmith commented on #50
Update: just released `3.0.0-alpha.0` on npm. I'd suggest checking out this version, it should be far more stable than the existing release, fixes a lot of bugs, and adds the ability to drag between lists. :)

See the readme after installation, there's been a considerable change to the interface.

Examples added to repo in version 3 alpha.

[2017-03-12 18:29] oyeanuj opened #77 "Overriding sorting behavior"
Hi @JakeSidSmith, sorry, I forgot to create an issue to continue our discussion in #71 but here it is now :)

To recap, in my use case, if a user drops an item in between others, it sorts the list but if the item is dropped on top of another, I can perform a different operation. So, to do this, I would need to know if an item is dropped on top of another ( or within certain boundaries of the new i

[2017-03-12 18:43] JakeSidSmith commented on #77
Ah, I didn't realise you'd need a specific droppable area. Can't use margins between them? I guess styles should remain separate from functionality, so adding some way to configure this would be good.

Although you can achieve something similar with CSS: https://jsfiddle.net/fr7syq3d/

[2017-03-12 18:44] JakeSidSmith commented on #77
Actually, scratch that CSS, that'd also mean you could only drag by clicking inside the droppable area... :|

[2017-03-12 18:45] JakeSidSmith commented on #77
I'll have a think about possible ways to do this and try to get it into v3. :)

[2017-03-12 18:53] oyeanuj commented on #77
Yes, I realized that having a droppable area makes it configurable and more reusable, given that we anyways have a default of 100%.  Also, +1 to not using CSS for this as it is really functional :)

[2017-03-16 13:54] JakeSidSmith opened #78 "V3 Alpha Issues"
If you've been testing out the V3 alpha, please post your issues here.

It'd also be good to know if V3 has fixed any existing issues you've had.

[2017-04-07 06:28] wmertens commented on #78
Seems to work great - just one annoyance, the click/drag behavior doesn't seem very natural when you use a hold time, and if you use a short hold time, it intercepts clicks on internal targets.

For it to feel natural, it should only start reordering once you actually touch/click + drag a few pixels. Then the hold time doesn't  matter…

[2017-04-07 07:02] wmertens commented on #78
I wonder if it would be better to get the `onClick` from React, and the rest from `document`, so that the normal event bubbling works in React?

Also, would it be possible to have a drag handle instead of the whole element?

[2017-04-07 08:27] wmertens commented on #78
For supporting a handle, perhaps allow specifying a `handle` classname and only if the click target has the handle class, proceed with the reorder?

[2017-04-07 15:12] wmertens commented on #78
BTW, I did have one problem: Yarn doesn't like to install the npm package because the Node version is capped at v6. I don't see that line in package.json on the `rework` branch, so could you push a new version?

[2017-04-10 08:41] JakeSidSmith commented on #78
You can't install the alpha, or do you mean to push a new major version?

[2017-04-10 11:38] wmertens commented on #78
@JakeSidSmith If I run `yarn add react-reorder`, it will complain that my Node is too new to work with the package, because of the version limit on `engine`. I think there shouldn't be a version limit at all, seeing as how this is meant for the browser?

[2017-04-10 12:23] JakeSidSmith commented on #78
@wmertens didn't realise that was in the alpha package.json.

I will remove.

*[Insert giant rant about yarn here]*

[2017-04-10 12:33] JakeSidSmith commented on #78
@wmertens published `alpha.1`.

[2017-04-11 15:34] romamatusevich opened #79 "Warning with react 15.5.0"
Warning: Reorder: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead. If you're not yet ready to migrate, create-react-class is available on npm as a drop-in replacement.

[2017-04-11 16:23] JakeSidSmith commented on #79
Oh, jeez. :|

Will add this to v3 alpha.

[2017-04-15 21:52] romamatusevich commented on #79
I created an example of using babelify to support the usage of React.Component instead of React.createClass:
https://github.com/romamatusevich/react-reorder/commit/dacd021cc60f05e1a29ad6ce0448ffd491a33b2c

What do you think about creation of the support release 2.1.1 to prevent warnings with react 15.5.0? I understand that version 3 alpha is in development, but I am not sure that it is fully stabl

[2017-04-16 18:23] JakeSidSmith commented on #79
@romamatusevich it should me more stable than the existing versions, but I don't think enough people have tested it yet. I'll release a patch of version 2 with the `react-create-class` lib, as I think the move to ES6 may cause issues with binding.

[2017-04-16 18:40] romamatusevich commented on #79
Sounds good. During testing I faced with binding issues and just added bindings to constructor:

[code]

https://github.com/romamatusevich/react-reorder/commit/dacd021cc60f05e1a29ad6ce0448ffd491a33b2c#diff-1fdf421c05c1140f6d71444ea2b27638R418

[2017-04-16 18:44] JakeSidSmith commented on #79
Gonna release in a sec after a little testing. There's another couple of fixes that should go into v2. But I'll sort those out after this. :)

- [ ] `event.preventDefault` when dragging on mobile to prevent scrolling
- [ ] `event.persist` for React 15+

[2017-04-16 18:50] JakeSidSmith commented on #79
@romamatusevich care to review? https://github.com/JakeSidSmith/react-reorder/pull/80

[2017-04-16 18:55] romamatusevich commented on #79
@JakeSidSmith, sure, will review

[2017-04-16 19:46] #79 closed

[2017-04-22 07:33] niftykins commented on #78
In v3 children are no longer wrapped in a `div` which has the event handlers applied to it, but instead have the event handlers applied to the child directly. This results in children that are custom components being passed the event handlers as props that have to manually be applied to the resulting DOM element.

Now: (child `Item` component isn't wrapped)
![image](https://i.imgur.com/e57KmRP.png

[2017-04-23 07:21] niftykins commented on #78
When a Reorder component with a `reorderGroup` prop is unmounted an `Unknown reorderId` error is thrown.

[This block of code](https://github.com/JakeSidSmith/react-reorder/blob/916d6dd8e353f8df88c82dfe7d79c3e6a32e0091/src/index.js#L80-L82) is where the error is thrown as a result of [registering a component with a `reorderGroup`](https://github.com/JakeSidSmith/react-reorder/blob/916d6dd8e353f8df

[2017-04-24 08:50] JakeSidSmith commented on #78
@niftykins thanks for your feedback.

The new version works by cloning any children of the Reorder component, and adds the listeners it needs to handle the reordering at this point. There is no wrapper. Is the problem that your events are not being fired?

As for the reorderId thing, I'll try to take a look when I have a chance, that definitely sounds like a bug.

[2017-04-24 09:28] niftykins commented on #78
(Note: code is typed out from memory so I could be forgetting to include some things)

If I change a set of children from

[code]

to

[code]

I have to manually apply all the props that `react-reorder` adds in order to achieve the same functionality, thus the resulting component becomes:
[code]

Having to manually apply the props isn't much of an issue. It just took me awhile to figure out why my

[2017-04-24 10:18] JakeSidSmith commented on #78
Oh, that is hella weird. At the point that Reorder adds the props, the element should have already been resolved. https://facebook.github.io/react/docs/react-api.html#cloneelement

Will do some investigation at some point. @niftykins, if you want to tweak the examples to demonstrate this, as you did for the unmount issue, that'd be really helpful. :)

[2017-04-24 10:38] niftykins commented on #78
@JakeSidSmith https://github.com/niftykins/react-reorder/commit/a406b5ba408a05068381e80830610ce4eba31e03 has a modified example for **Lock Vertical**

[2017-05-03 07:51] champeng commented on #77
+1

[2017-05-03 07:56] champeng commented on #77
@oyeanuj I think passing 60 would mean that top and bottom 30% would be the only place for sorting the list i.e. top and bottom 30% should be considered as sortZone and middle 40% would be considered for drop over existing element.

[2017-05-03 15:40] oyeanuj commented on #77
@champeng Yes, you are right! I meant top and bottom would be considered `sortZone` and middle area would be `dropZone`.

@JakeSidSmith Any other thoughts since [your last comment](https://github.com/JakeSidSmith/react-reorder/issues/77#issuecomment-285965028)? 😄

[2017-06-21 07:30] Zulfia73 opened #84 "can't control dragged div"
![image](https://user-images.githubusercontent.com/6208460/27372205-72af6b80-566c-11e7-85fb-f558c54c9718.png)

I I can't understand, how controlling dragged element

[2017-06-21 09:23] JakeSidSmith commented on #84
What version are you using?
I looks like you have somehow overridden the position styles.
The element should have these:

[code]

Check if there is something with `!important` that is affecting it.

[2017-06-21 09:35] Zulfia73 commented on #84
file.js =>
        var draggedStyle = {
          position: 'fixed',
          top: rect.top,
          left: rect.left,
          width: rect.width,
          height: rect.height
        };

listClass={classes.flexContainer} =>
.flexContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: relative;

[2017-06-21 09:36] Zulfia73 commented on #84
my class =>
.dragged {
  background-color: #EEE ;
  transform: scale(0.98, 0.98) ;
  opacity: 0.7 ;
}

[2017-06-21 09:38] JakeSidSmith commented on #84
Looks like that `position: relative;` is what could be doing it. Try targetting your dragged class, which will be `dragged` by default.

[code]

[2017-06-21 09:43] Zulfia73 commented on #84
@JakeSidSmith
![default](https://user-images.githubusercontent.com/6208460/27377959-1856b04a-567f-11e7-9dc2-e62adf3ab739.png)

On the basis what, are you made calculations for dragged?

[2017-06-21 09:56] JakeSidSmith commented on #84
`element.getBoundingClientRect()` which gives you its exact position on the page.

You must have some other style overriding it. I've never seen something like this before.

Have a look in the styles panel down the right of the inspector.

[2017-06-21 10:39] Zulfia73 commented on #84
@JakeSidSmith Strange, but the problem is only with the parameter left

[2017-06-21 10:42] JakeSidSmith commented on #84
It could be something do do with being `display: flex;`. I haven't used flexbox with react-reorder at all.

It's hard to say what the solution is without having a look at the app / code.

[2017-06-21 10:46] Zulfia73 commented on #84
@JakeSidSmith nope, problem not in flex

[2017-06-21 10:48] Zulfia73 commented on #84
getBoundingClientRect retutn wrong left parametr
ClientRect {top: 220.5, right: 990.53125, bottom: 247.5, left: 854.53125, width: 136…}

[2017-06-21 11:22] Zulfia73 commented on #84
@IakeSidSmith ,
![default](https://user-images.githubusercontent.com/6208460/27381852-11d0e30e-568d-11e7-9439-2592b3249c1b.png)
find problem

[2017-07-21 16:17] maticzav opened #86 "Images Reloading/Flashing"
Hi!

I am using React-Reorder with `<img/>` and whenever I reorder items, there's a flash as the images would have reloaded each time they are reordered.

Is there a way to prevent this from happening?

[2017-07-24 08:15] JakeSidSmith commented on #86
That's odd, I would have thought they'd be cached. And using a `key` should prevent this. Is the `img` the root element? Perhaps wrapping in a `div` or something might fix this?

[2017-07-31 10:49] wmertens commented on #79
With React v16 imminent, how about releasing v3?

[2017-08-04 09:33] JakeSidSmith commented on #79
@wmertens there are a couple of known bugs that need to be sorted first. Will try to sort these as soon as I can.

[2017-08-04 12:05] wmertens commented on #79
@JakeSidSmith Can you mark those in a milestone? I might be able to help a little bit

[2017-08-06 10:15] JakeSidSmith commented on #79
@wmertens keeping track of them here: https://github.com/JakeSidSmith/react-reorder/issues/78

[2017-08-06 10:15] JakeSidSmith commented on #79
Gonna take a look at the unmounting bug today.

[2017-08-06 10:20] wmertens commented on #78
As for the last two blockers for v3, aren't those new features that could be implemented after v3 is released?

[2017-08-06 10:22] JakeSidSmith commented on #78
Yeah, will probably release after the unmounting thing is sorted. Though I also want to take a look into the above mentioned thing about manually passing props down. There's probably a nicer way to handle this.

[2017-08-06 10:50] wmertens commented on #78
Also, would you be interested in a conversion to an ES6 class? It doesn't
seem like too much work, and you're using Babel anyway…

On Sun, Aug 6, 2017 at 12:22 PM Jake <notifications@github.com> wrote:

[2017-08-06 10:53] JakeSidSmith commented on #78
@wmertens I had considered this, but having already written v3 in es5, it's quite a bit of work, mainly due to a lack of auto-binding in ES6. Possibly will do this in a future v3.

[2017-08-06 11:13] wmertens commented on #78
I meant, I can do it if you like :)

On Sun, Aug 6, 2017, 12:53 PM Jake <notifications@github.com> wrote:

[2017-08-06 11:15] JakeSidSmith commented on #78
Id' wait until after v3 is released as it's pretty stable at the moment, and will require some retesting.

[2017-08-06 11:24] JakeSidSmith commented on #78
@wmertens you can start work on that if you like, but things may change a bit while you're doing it.

[2017-08-06 12:38] JakeSidSmith commented on #78
Just released `3.0.0-alpha.2` with fix for mounting / unmounting reorder groups.

[2017-08-06 14:48] JakeSidSmith commented on #77
@oyeanuj sorry, been pretty busy with other projects / new version of react-reorder.

Something I have been using a bit in v3 is data attributes for new features. I could add something that looks for `data-drop-zone` and checks this element for collisions if one is found. This way you can completely configure which area of your items should be allowed drops.

[2017-08-06 15:30] JakeSidSmith commented on #78
@niftykins been playing around with the issue of passing props to the items in the list. Seems the 2 easiest things to do are:

Wrap your component in a regular element

[code]

Call a stateless functional component with your props

[code]

[2017-08-06 15:38] JakeSidSmith commented on #78
Update, probably even easier to just have this if it'd work for your use case:

[code]

[2017-08-06 15:50] niftykins commented on #78
Yeah I'm fine with the way it works now, it was just a bit of a surprise because it changed how it worked and I wasn't sure if it was intended or not.

The following approach is what I've been using and has been working alright for me (have to take care to merge values when using ones react-reorder uses too, which is easy enough).
[code]

[2017-08-06 16:50] oyeanuj commented on #77
@JakeSidSmith Thanks for the response! So, if the attribute is set, then the library checks for collision? And then that would imply the need for some props to determine collision boundaries?

[2017-08-24 08:34] JakeSidSmith commented on #77
@oyeanuj you'd set the data attribute on an element inside one of your items, and then it'd check for that, and check for collisions against that element, rather than the root node of an item.

[2017-10-08 11:29] niftykins commented on #78
I've found another issue :(

Took the time to the alpha version in the project I'm working on over the weekend because a feature I wanted to implement required the kanban style drag and drop. What I discovered is that when there's 30+ (my use-case was a calendar view) reorder components dragging elements around the screen is noticeably lagged.

Upon digging into this I discovered that each reorder

[2017-10-31 17:57] 13MS opened #91 "Error: Expected reorderId to be a string. Instead got undefined"
I'm running into this issue and didn't find any information about it in the documentation.

I tried a lot of different configurations with the same result. When I add `reorderId='_id'` to my list of props, I lose the warning and a div is created, but nothing is inside.

Reorder is added to my component this way: `import Reorder from 'react-reorder'`

And in the render:
[code]

[2017-11-08 09:22] cadichris commented on #91
I'm hitting the same issue.
The only place where I've found `reorderId` is on the `rework` branch : https://github.com/JakeSidSmith/react-reorder/tree/rework

Current released version of the npm package is `3.0.0-alpha.2` so it's clearly OK for it to be unstable.
My guess is that the npm release is linked to `rework` branch, but that we'd better install stable release.
I'll try to install the late

[2017-11-08 09:26] JakeSidSmith commented on #91
The config / markup has changed a lot for v3. Are you following the new readme?

https://github.com/JakeSidSmith/react-reorder/tree/rework#configuration

[2017-11-08 09:31] cadichris commented on #91
Oh right, that makes sense.
I was using `master` branch README against v3 package. And think @13MS was doing the same.

I just `yarn add react-reorder@2.2.1` and `reorderId` error is gone.

@JakeSidSmith : For production software, is it better to use v3 alpha, or `2.2.1` is currently more reliable ?

[2017-11-08 09:36] JakeSidSmith commented on #91
Uhhh. Hard to say. Personally I'd go with v3, as if you are not using multiple lists (in v3 you can drag between lists) v3 has some bug fixes that are not in v2. Though there is a bug with the dragging between lists https://github.com/JakeSidSmith/react-reorder/issues/78#issuecomment-296424877.

[2017-11-08 09:38] cadichris commented on #91
OK, I'll give a shot at v3, thanks !
Are you interested in a PR on `master`'s README pointing out that users of v3 should read the `rework` README? This could avoid potential frustration for future users :D

[2017-11-08 09:39] JakeSidSmith commented on #91
Just sorted that: https://github.com/JakeSidSmith/react-reorder/blob/master/README.md

Great minds. 😛

[2017-11-08 09:40] JakeSidSmith opened #92 "Tidy up prop documentation in readme (v3)"
* `propName` (optional) - description

[2017-11-08 09:44] JakeSidSmith commented on #91
Note: if using a component class / stateless component you will need to manually pass down the reorder props: https://github.com/JakeSidSmith/react-reorder/issues/78#issuecomment-296593098

Will hopefully find a way to avoid this in the future. 😄

[2017-11-08 09:48] JakeSidSmith commented on #91
Ignore what I said about the multi-list bug, forgot I had merged this: https://github.com/JakeSidSmith/react-reorder/pull/83

[2017-11-08 10:40] cadichris commented on #91
Just to confirm that v3 is working perfectly ! IMO this issue deserves to be Closed 🙂

[2017-11-08 10:50] JakeSidSmith commented on #91
Will do. 😀

[2017-11-08 10:50] #91 closed

[2017-11-10 18:15] ndugger commented on #92
Please fix the broken syntax highlighting you tried to apply to your readme.

[2017-11-10 18:23] JakeSidSmith commented on #92
@ndugger thanks for pointing that out. Has been fixed. :)

[2017-11-28 18:12] ndugger commented on #78
To pile onto @niftykins discovery, I'm finding some performance issue while dragging in IE11. Now, I don't expect IE to be as fast as say chrome, but I've only got 12 items to drag around on the screen, and the translation from dragging is coming off as really laggy. I might have to find a different library if it persists, which I'd really rather not do, since yours works the best.

If you could d

[2017-11-28 18:17] JakeSidSmith commented on #78
@ndugger I've since been doing some digging into general performance improvements in React applications. Can you tell me:

Are your reorderable items or any of their props created in the render method, or mapStateToProps?

Are you using fat arrows or bind in your JSX?

A code snippet would be very useful. :)

[2017-11-28 18:28] ndugger commented on #78
I'll try to get a MVCE set up for you; in the meantime, you should experiment with using CSS translation instead of using a fixed position with top and left. I think translation would be much more performant.

[2017-11-28 18:29] JakeSidSmith commented on #78
That it would. I will consider that. 👍

[2017-11-28 18:58] JakeSidSmith commented on #78
Holy sh*t. I now see the issue. Just managed to reproduce myself. Didn't realise you guys meant the issue happens when there's a lot of `Reorder` components. I thought you meant the items within them.

@ndugger @niftykins

Will definitely spend some time on this. That performance is unacceptable.

May have a big re-write of the store.

[2017-11-28 20:20] JakeSidSmith commented on #78
@ndugger @niftykins you will be very happy to hear that I have fixed the performance issue.

Just published with version `3.0.0-alpha.3`

Thank you both for testing the alpha version and reporting issues. 🙂

[2017-11-28 20:42] JakeSidSmith commented on #78
And have now published `3.0.0-alpha.4` with translate to offset the items. @ndugger

Let me know if your performance issues are resolved. 🙂

[2017-11-28 20:45] JakeSidSmith commented on #78
Note to self: Mutate styles when translating the dragged item's offset to improve performance.

[2017-11-28 20:47] JakeSidSmith commented on #86
@maticzav any more info you could provide on this?

[2017-11-28 21:15] ndugger commented on #78
At first glance, it seems improved. I will test more on IE11 as soon as I can and report back. You're pretty awesome for being so on the ball here.

[2017-11-28 21:23] JakeSidSmith commented on #78
I will probably rewrite my store anyway, for sanity. But for today this should be a suitable fix. :)

[2017-11-29 17:44] maticzav commented on #86
Hey @JakeSidSmith, I though it might be best if I just give you my implementation and a video of how it works, hope you find it in a snap, as I suppose it must be a simple mistake I made.

Actually I am sorry that I included so much of code, but I wasn't completely sure where the problem might lie, as I have already fixed some lags, but this one wasn't fixed.

[code]

![ab](https://user-images.git

[2017-11-29 18:26] JakeSidSmith commented on #86
@maticzav are you sure you've opened this issue against the correct repo?

https://github.com/clauderic/react-sortable-hoc

[2017-11-29 20:20] maticzav commented on #86
aaah s**t haha, thank you!

[2017-11-29 20:20] #86 closed

[2017-11-30 08:18] JakeSidSmith commented on #86
No problem. XD

Out of interest, if this package didn't have the flashing images issue, would you consider switching too it?

Any features that I currently don't have that you require?

@maticzav

[2017-11-30 12:19] maticzav commented on #86
Yes, of course. User experience is always first 😄, but I still love HOC approach better, as it feels more natural to me.

Actually I am not completely sure why I chose `react-sortable-hoc` over `react-reorder`, I suppose it was because demos are more engaging? 😅 I think I actually used this in one of my other projects, can't remember though.

[2017-11-30 12:21] JakeSidSmith commented on #86
Ah, kay. Well once I release the new version (v3) I'll be updating the demos, and they are already looking a lot nicer. Have a multi list kanban style demo. 🙂

May consider adding animations for reordering also, but worried about performance implications.

@maticzav

[2017-11-30 16:06] maticzav commented on #86
That sounds so cool. I am definetly going to check v3 out 😄

[2017-12-05 07:57] viztor opened #94 "Support React v16"
Now with React v16
it will throw exception createClass not a function.

[2017-12-05 09:09] JakeSidSmith commented on #94
@viztor this lib uses the `create-react-class` module, which should still be compatible with React 16.

If not, I will be re-writing v3 in ES6 / TypeScript, and so will using actual classes.

[2017-12-12 09:02] jorisw commented on #91
Except that npm install react-reorder installs v3, while GitHub shows the v2 docs.

[2017-12-12 21:05] JakeSidSmith commented on #91
NPM install always installs the latest version, which in this case is the alpha version. I may merge v3 as is to avoid confusion and continue work on it.

https://medium.com/@mbostock/prereleases-and-npm-e778fc5e2420

[2017-12-13 23:51] dargue3 commented on #94
+1

I don't believe this works with React 16, unless you're saying we need to include `create-react-class` in our dependencies?

[2017-12-14 11:16] JakeSidSmith commented on #94
It is a dep of react-reorder: https://github.com/JakeSidSmith/react-reorder/blob/master/package.json#L34

Can someone explain what exactly is the issue with React 16? :)

[2017-12-15 13:22] AntCrick commented on #94
+1 Though I think it could be an issue with the version that is on npm as i used npm install to install this and it's installed `react-reorder@3.0.0-alpha.4` and the react-reorder package.json doesn't have create-react-class in the dependencies that i can see so could be that maybe?

[2017-12-15 16:09] JakeSidSmith commented on #94
Ah, that's it! Thanks @AntCrick will update now and publish a new alpha version.

[2017-12-15 16:21] JakeSidSmith commented on #94
@AntCrick @dargue3 @viztor have published a fix at `3.0.0-alpha.5`.

Please try this out, and if your issue is fixed, then close this issue. 🙂

[2017-12-20 13:32] birdy90 commented on #94
I get `Uncaught TypeError: Cannot read property 'oneOfType' of undefined` because of
[code]
And as it's said here `https://reactjs.org/docs/typechecking-with-proptypes.html` it is deprecated and moved to some package. What should I do to handle this problem?

[2017-12-20 13:55] JakeSidSmith commented on #94
Ah, poop. So many changes to make. Will try to get this sorted shortly.

[2017-12-20 14:04] birdy90 commented on #94
Maybe it will help: [there's](https://reactjs.org/blog/2017/04/07/react-v15.5.0.html#migrating-from-reactproptypes)  recommendations for migrating

[2017-12-20 14:47] JakeSidSmith commented on #94
@birdy90 published some fixes at `3.0.0-alpha.6`.

[2017-12-20 20:59] JakeSidSmith commented on #94
@AntCrick @dargue3 @viztor should now work nicely with React 16.

[2017-12-21 06:42] #59 closed

[2017-12-21 07:12] niftykins commented on #78
What's the advised way to handle click events (more specifically, block click events when dragging) on items (eg kanban where clicking on an item expands it into a more detailed view)? The issue I'm getting is when I reorder an item up (but not down, strangely) the `onClick` handler is also triggered upon mouse up, which is undesirable.

I've been able to reproduce it in the demo at https://github

[2017-12-21 08:30] CadiChris commented on #78
@niftykins, to prevent the `onClick` handler to be triggered, I've used some CSS
[code]

`.dragged` is the class applied to the dragged item, `pointer-events` indicates how it should behave regarding events.
https://caniuse.com/#search=pointer-events : ```This CSS property, when set to "none" allows elements to not receive hover/click events, instead the event will occur on anything behind it.```

[2017-12-21 09:27] JakeSidSmith commented on #78
@niftykins have you set a `holdTime`? Is this only when the mouse does not move?

[2017-12-22 04:41] niftykins commented on #78
@cadichris that did the trick! thanks!

@JakeSidSmith Yes there's a hold time of 150ms, it occurs both when the mouse moves and when the mouse doesn't move.

[2017-12-22 11:30] JakeSidSmith commented on #78
It should be super easy to fix with javascript. Which would be best as `pointer-events` is only supported in IE11+.

Will try to sort asap. :)

[2018-01-10 03:00] #69 closed

[2018-04-05 03:42] giricgoyal commented on #84
I am having the same issue. I have the "Reorder" component in a Modal though. I don't think that should make a difference. The values `getBoundingClientRect` is returning seems to fine. Event the `.dragged` element has `position: fixed`. Still the element seems to be sticking at the right edge of the viewport and a few pixel below the mouse position.

[2018-04-05 03:58] giricgoyal commented on #84
So after digging in to what was causing this, the modal's (or parent's) transform property causes this bug to creep up.

[2018-04-05 04:21] giricgoyal commented on #84
@Zulfia73 : You might want to consider a different approach when you are using `transform` property on the parent.

[2018-04-05 09:08] JakeSidSmith commented on #84
Ah, @giricgoyal good catch. I ran into issues caused by transform just a week or so ago (but not with react-reorder). That is quite possibly the cause of this issue.

Frustrating that certain properties cause `position: fixed;` to behave differently.

Unfortunately if I were to use `position: absolute;` and position the items relative to their parent they would end up having overflow issues (being

[2018-04-05 09:12] giricgoyal commented on #84
@JakeSidSmith : Unfortunately, the only solution I have found so far is to refactor the parent to not use `transform` properties. Would love to know whenever you have a different solution.

[2018-04-16 21:34] Pickra commented on #84
Thanks for the no `transform` suggestion @giricgoyal, totally saved me

[2018-05-18 18:04] r3wt commented on #78
not sure if this is dead, but just wanted to chime in on an issue i find annoying. it seems to glitch rapidly while dragging for me. needs some type of debounce or something

[2018-06-05 19:09] mcculloughjchris commented on #78
@JakeSidSmith hey, you made a great plugin, super easy to implement. Currently I'm using Gatsby, and when I run `gatsby build` I get this error:

[code]

Moving everything in `componentWillMount` to `componentDidMount` seems to fix the problem, and doesn't (appear) to break anything else. I think `componentWillMount` is being deprecated or already has been anyways. I would make a pull request but

[2018-06-06 07:56] JakeSidSmith commented on #78
@mcculloughjchris thanks for bringing this to my attention.

This issue covers what you have experienced: https://github.com/gatsbyjs/gatsby/issues/309

It seems the best approach (due to the recent deprecation) is to move these to `componentDidMount`, rather than safe-guarding existence of the window object.

You can open a PR for `v3` by forking this repo, checking out the `rework` branch, and t

[2018-06-06 12:16] JakeSidSmith commented on #78
@mcculloughjchris Merged #96 and published as `3.0.0-alpha.7`. 🙂

[2018-06-06 12:19] mcculloughjchris commented on #78
Thanks!

[2018-08-11 04:37] #94 closed, assigned to nobody

[2018-10-05 23:26] mstange22 opened #97 "Issues with embedded images?"
Hi, we've been using this component for quite some time, but I just noticed some odd behavior in production.

We render a map of an array of "cards", each one is basically an image with a header and a footer.

[code]

The card behaves as expected (and as it has in the past) when dragged from the header or footer, but no longer reorders when dragged from the img (the body of the card).  It appears

[2018-10-06 14:08] JakeSidSmith commented on #97
Hi, can you give me some more info so I can reproduce this. 🙂

In what browser(s) (and specific version) has this been experienced?
What version of react-reorder are you using?
What version of react are you using?

[2018-10-07 19:24] mstange22 commented on #97
Hi - thanks for the quick response!  I just updated my original post as it appears the Card structure was not visible.

I'm seeing this in recent versions of both Chrome and Firefox:
Chrome: Version 69.0.3497.100 (Official Build) (64-bit)
Firefox Quantum: 62.0.3

react-reorder: ^3.0.0-alpha.6
react: 16.0.0

[2018-10-08 08:37] JakeSidSmith commented on #97
Thanks. I'll try to take a look at this as soon as I can. 🙂

[2018-10-09 16:38] mstange22 commented on #97
I was able to work around the dueling drag/drop listeners by disabling the native image drag listener by adding draggable={false} prop to the img.
https://stackoverflow.com/questions/4211909/disable-dragging-an-image-from-an-html-page

[2018-10-09 22:06] JakeSidSmith commented on #97
OOooh, nice. If you think that is a suitable fix perhaps I could just mention this in the readme?

Probably easier than programatically disabling the functionality. And _presumably_ would allow people to continue to drag images and not reorder items (if they wished), by adding `onDragStart={(event) => event.stopPropagation()}` to the images of choice.

[2018-10-09 22:12] mstange22 commented on #97
Yeah, it seems like this is a suitable fix for our purposes and still gives users flexibility as you mentioned.

[2018-10-09 22:17] JakeSidSmith commented on #76
Any update on this? If not, I'll close this issue.

[2018-10-09 22:34] #76 closed

[2019-03-04 14:47] lynnjoseph24 opened #99 "Unable to set reorder to a button"
Im trying to reorder the elements by using a specific button in the child Component. Im not sure how to do this? Sorry for posting this as an issue. Could somebody help me out as to how to do this?/ Thanks in advance.

[2019-03-04 14:51] JakeSidSmith commented on #99
Hi, @mayheadd. Do you mean you'd like to have a "handle" that is the only part that can be dragged to reorder? This is not currently possible, but I'm in the middle of a re-write (which has pivoted quite a lot), and so this feature should be available in the future.

I'd suggest finding another library for now if you require this ability.

[2019-07-25 08:24] avbentem commented on #99
Just for future readers, one might not need another library with either of the following workarounds:

- Use the `disabled` prop to only enable the component after an `onMouseDown` event on some drag handle icon occurred, [assuming that also fires on touch](https://developer.mozilla.org/en-US/docs/Web/API/Touch_events/Supporting_both_TouchEvent_and_MouseEvent). Next, disable it again in `onReorder

[2020-01-08 02:56] jimtang2 opened #101 "Unable to make 3.0.0-alpha.7 work with react 16.9"
I have the following code:

[code]

It doesn't seem to work and I feel stupid for asking but am I missing something?

[2020-01-08 09:57] JakeSidSmith commented on #101
Does your `onReorder` callback get called?

I think the issue is that you're passing a static set of items (`["1","2","3","4"]`).

`react-reorder` expects you to handle the reordering yourself, it merely handles the dragging and provides some utils to make reordering easier.

You'll need to store your items in state somewhere (whether on the component or redux or hooks doesn't matter), and then ha

[2020-03-18 02:38] patricktyndall opened #102 "Less performant deeper in the dom?"
Great component. Is there any reason why this would perform worse at higher dom depths?

Debugging some performance issues and removing divs so far has been the only solution (and performance issues roughly scale with how deep it is). Looking at dev tools performance tab, looks like all the time is spent in script and not rendering.

I'm returning another <Reorder/> in the same component at a shal

[2020-05-27 09:22] zoran123456 opened #103 "Please add events on "drag start" and "drag end""
Hi,

could you please add the following events, so we can for instance set class names for a parent component to "parentelement-children-dragging" and "parentelement-children-normal".

That way we can set all other child elements semi-transparent, and draggable element full opacity.

[2020-06-01 09:39] JakeSidSmith commented on #103
Which version of `react-reorder` are you using?

[2020-06-01 09:44] zoran123456 commented on #103
Hi Jake, I'm using version 3.

Currently I'm attaching event on parent element of dragged items (for onmousedown) and window (onmouseup). It works, but it would be easier to just have component events.

[2020-06-11 11:59] JakeSidSmith commented on #103
Happy for you to open a pull request for this. 🙂

I doubt I'll be able to implement it any time soon. 🙁

[2020-11-15 23:56] tmm1 commented on #78
FYI with v17 we need to rename to `UNSAFE_componentWillMount`:

[code]

[2021-02-11 14:19] Moebytes opened #104 "Can't disable auto scroll"
Hello, I want to disable auto scroll but it doesn't seem to be working. I wanted to implement by own auto scrolling because I find the default to be way too fast, and because it didn't seem to work when scrolling down. I am on version `3.0.0-alpha.7`.

Code:
[code]

[2021-02-16 09:44] JakeSidSmith commented on #104
Hey, just to let you know this hasn't gone unnoticed. I have a post-it on my desk to take a look at it.

Feel free to fork and try to find a solution yourself in the meantime. You'll need to branch from `rework`.

[2021-03-13 11:52] JakeSidSmith commented on #104
I cannot reproduce this using the examples in the readme.

I've tried setting `autoScroll={false}` on the kanban and horizontal lock examples, and it successfully prevents the auto scrolling.

Are you perhaps using a browser that is doing additional scrolling for you?
Can you give me any more details, or set up a small repo with an example of it not working?

[2021-03-13 12:05] JakeSidSmith commented on #101
Closing due to lack of response.

[2021-03-13 12:05] #101 closed, assigned to nobody

[2021-03-13 12:08] JakeSidSmith commented on #102
Hi, do you mean the further down your DOM tree reorder is rendered the laggier it is?
Is reorder updating state that is much further up the tree?
Could you perhaps put together a full example?

[2021-03-13 12:09] JakeSidSmith commented on #99
Closing due to lack of response. I assume the above workaround is suitable.

[2021-03-13 12:09] #99 closed, assigned to nobody

[2021-03-13 12:12] JakeSidSmith commented on #84
I don't think there's another way I can resolve this besides suggesting the `transform` is removed (not without completely changing how this lib works anyway e.g. rendering dragged items outside of the reorder component using portals).

I'll consider this for a future version. Closing for now.

[2021-03-13 12:12] #84 closed

[2021-03-13 12:19] JakeSidSmith commented on #73
Closing due to lack of response.

[2021-03-13 12:19] #73 closed

[2021-03-13 12:20] JakeSidSmith commented on #63
Closing due to lack of response.

[2021-03-13 12:20] #63 closed

[2021-03-13 12:20] JakeSidSmith commented on #50
Assuming fixed.

[2021-03-13 12:20] #50 closed

[2021-03-13 12:21] JakeSidSmith commented on #48
Assuming fixed by preventing propagation.

[2021-03-13 12:21] #48 closed

[2021-03-13 12:22] JakeSidSmith opened #105 "Another complete re-write in TypeScript, with hooks, React 16-17 support, and more"
- TypeScript
- Function components
- Hooks (expose hooks?)
- React 16-17 support (#101)
- Drop areas, drag areas
- Start/stop drag callbacks (#85 / #100 / #103)
- Prevent parent styles affecting behaviour (#84)
- Accessibility (keyboard/click to reorder)
- Portals?
- React Native support?

I haven't forgotten about this library, I've just been very busy with other things. 😊

[2021-03-13 18:30] Moebytes commented on #104
Yeah, I created a test repo here: https://github.com/Tenpi/autoscroll-example
(Run with commands `npm install` and `npm start`)

I am using this with electron, so I am actually not 100% sure if the problem is from this package, or if it's a bug with electron itself.

With `autoScroll={false}`, it stops scrolling down, but you can still scroll up. With `autoScroll={true}`, you can scroll down, but

[2021-03-16 14:02] JakeSidSmith commented on #104
Oooh, this gives me an idea. I think I had an issue similar to this recently. It's something to do with how browsers handle overflow and new content loading in: https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-anchor

If you set `overflow-anchor: none` on your scrollable element it might fix it... or make it worse. XD

I don't have time to look right now, but may do later today.

[2021-03-16 16:21] Moebytes commented on #104
Thanks! This fixed it. So it was just a CSS issue, I had to disable the scroll anchoring for every element.
[code]

[2021-03-16 16:21] #104 closed, assigned to nobody

[2021-03-16 18:13] JakeSidSmith commented on #104
Awesome, glad that's sorted it. 😁

I'll have to add something to the examples/readme.

[2021-03-16 18:14] JakeSidSmith commented on #104
Hopefully you won't need to implement your own scrolling now too. 😉

[2021-04-11 16:05] arpitBhalla commented on #105
@JakeSidSmith Can I work on this?

[2021-04-28 22:27] thomassuckow commented on #105
If you had drag/drop areas you could probably replace react-dnd which is buggy AF. But I just came for the reordering

[2021-04-29 07:52] JakeSidSmith commented on #105
@arpitBhalla I haven't exactly worked out how the API is going to be yet. Started writing it a few times and then changed my mind because it wasn't flexible enough. It'll probably be a while before I decide on an API I'm happy with, but happy for you to post suggestions in here. 😊

[2021-05-24 17:10] DoubleHelixX commented on #101
### Hooks Implementation: @JakeSidSmith  @tjimsk

1. Use **_useCallback_** for the same functionality you would do when **binding** **_this_** to a function within a **Class** component.
2. Instead of the helper function I instead used something I was familiar with for reordering arrays.

- Install **npm install array.prototype.move --save**
- Import **"array.prototype.move"** so you can use the *

[2021-05-24 17:15] DoubleHelixX commented on #105
### Updated React Hooks support here _https://github.com/JakeSidSmith/react-reorder/issues/101#issuecomment-847201025_. Cheers 😊

**Preview:**
  _https://media.giphy.com/media/BZnpNKIWXvz55j4Z31/giphy.gif_

![Tinder_Reorder_Test](https://user-images.githubusercontent.com/34874720/119383845-dbde7080-bc91-11eb-8ffd-e1d8819cafcd.gif)

[2021-09-01 20:51] ishields opened #108 "can't reorder"

[2021-09-01 20:51] #108 closed, assigned to nobody

[2021-09-02 00:16] Audiopolis opened #109 "TypeError: this.state.draggedStyle is null"
**UPDATE 3**
Unfortunately, I was unable to find the root cause. If you see an issue with my code, please let me know. I will try to find the time to make a minimal, reproducible example. The fact that `draggedStyle` is set correctly every second mouse event leads me to believe that this is a bug in `react-reorder`. The only workaround I found involved forking `react-reorder`, I opted to use `reac

[2021-09-02 11:40] JakeSidSmith commented on #109
Hey. 😁

Can you let me now which version you're using?
When the error is seen? (is it when the cursor moves after starting a drag?)
And if possible, whip up an example of your code?

Since this has only started happening since you moved to typescript then I imagine the issue could be caused by something in your build/typescript config (however there are a number of things that could have caused it

[2021-09-02 15:42] Audiopolis commented on #109
Thanks for the response!

`^3.0.0-alpha.7`

Yes; the error is seen when the cursor moves after a drag has been started. It only occurs after the hold time has passed and the component is actually mobile.

Sure, here's the relevant code (can't give access to the repo):

[code]

My tsconfig.json:

[code]
src/components/WidgetWrapper/WidgetWrapper.tsx:
[code]

WidgetWrapper.module.sass:

[code]

I'm

[2021-09-14 23:49] tmm1 commented on #101
I am currently using react 16.13.1 without issue, but would like to upgrade to react 17 and currently see the following warning:

[code]

[2021-09-21 08:57] JakeSidSmith commented on #101
Hey, @tmm1 could you please open a pull request, or new issue?

[2022-09-12 10:32] uzer-ua opened #110 "Update PropTypes"
Is this library still maintained?

You want to upgrade PropTypes in the dependencies list. At least make non-strict version (e.g. ^15.6.0)
15.6.0 have [known vulnerabilities](https://snyk.io/test/npm/prop-types/15.6.0) (prop-types - fb.js - ... - node-fetch) and automatic scanning tools like WhiteSource are failing.

Using 3.0.0.alpha7

[2022-09-12 10:58] JakeSidSmith commented on #110
I haven't needed this library for years, so I've not contributed anything, and it appears most people just fork it and don't contribute.

Feel free to open a PR, but I can't promise I'll get it merged any time soon.

In the meantime you can use one of:

https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides
https://yarnpkg.com/configuration/manifest/#resolutions
https://classic.yarnp